
body {
    //padding-top: 115px;
}

.navbar-brand {
    padding: 5px 0;
    font-size: 18px;
    //font-weight: bold;
}

.background {
    //background-image: url(/images/earth.png);
    background-image: url(/images/earthmoving.gif);
    background-position: center;
    background-repeat: no-repeat;
    //background-size: cover;
}

.page-home {

    .background {
        min-height: 80vh;
    }

    h1 {
        padding-top: 10vh;
        text-align: center;
        font-size: 92px
    }

    h2 {
        text-align: center;
    }

}

.page-day {

    .readings {
        margin-top: 40px;
        //margin-bottom: 40px;
        color: #50864D;

        .value {
            color: white;
            font-size: 48px;
        }
        .units{
            color: white;
            font-size: 24px;
        }
        .icon {
            text-align: center;
            font-size: 72px;
        }
        .text {
            margin-top: 10px;
            text-align: center;
            font-size: 18px;
        }
    }

}

.page-year {

    .chart {
        .canvas {
            padding-left: 13%;
            padding-right: 13%;
        }
    }

}

.page-target {

}
